---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

const title = "usr";

const cspNonce = Astro.locals.cspNonce;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={title} />
  </head>
  <body>
    <Header />
    <main class="page" aria-label="File explorer">
      <h1 class="page__title">usr/</h1>
      <ul class="tree" data-root>
        <li class="tree__item tree__item--folder" data-node="projects">
          <button class="tree__label" type="button">
            <span class="tree__chevron" aria-hidden="true">›</span><span
              class="tree__name">projects/</span
            >
          </button>
          <ul class="tree__children" hidden data-kind="projects"></ul>
        </li>
        <li class="tree__item tree__item--folder" data-node="stack">
          <button class="tree__label" type="button">
            <span class="tree__chevron" aria-hidden="true">›</span><span
              class="tree__name">stack/</span
            >
          </button>
          <ul class="tree__children" hidden>
            <li class="tree__item tree__item--folder" data-node="frameworks">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">frameworks/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">
                  <a href="https://lit.dev/" target="_blank" rel="noreferrer"
                    >lit</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://angular.dev/"
                    target="_blank"
                    rel="noreferrer">angular</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://astro.build/"
                    target="_blank"
                    rel="noreferrer">astro</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a href="https://nextjs.org/" target="_blank" rel="noreferrer"
                    >next.js</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://getbootstrap.com/"
                    target="_blank"
                    rel="noreferrer">bootstrap</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a href="https://react.dev/" target="_blank" rel="noreferrer"
                    >react</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a href="https://svelte.dev/" target="_blank" rel="noreferrer"
                    >svelte</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://ionicframework.com/"
                    target="_blank"
                    rel="noreferrer">ionic</a
                  >
                </li>
              </ul>
            </li>

            <li class="tree__item tree__item--folder" data-node="apis">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">apis/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Overview"
                    target="_blank"
                    rel="noreferrer">rest</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://graphql.org/"
                    target="_blank"
                    rel="noreferrer">graphql</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API"
                    target="_blank"
                    rel="noreferrer">websockets</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.postman.com/"
                    target="_blank"
                    rel="noreferrer">postman</a
                  >
                </li>
              </ul>
            </li>

            <li class="tree__item tree__item--folder" data-node="databases">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">databases/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.postgresql.org/"
                    target="_blank"
                    rel="noreferrer">postgresql</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.mysql.com/"
                    target="_blank"
                    rel="noreferrer">mysql</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://firebase.google.com/"
                    target="_blank"
                    rel="noreferrer">firebase</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.mongodb.com/"
                    target="_blank"
                    rel="noreferrer">mongodb</a
                  >
                </li>
              </ul>
            </li>

            <li class="tree__item tree__item--folder" data-node="servers">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">servers/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">
                  <a href="https://nodejs.org/" target="_blank" rel="noreferrer"
                    >node.js</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://flask.palletsprojects.com/"
                    target="_blank"
                    rel="noreferrer">flask</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://httpd.apache.org/"
                    target="_blank"
                    rel="noreferrer">apache http server</a
                  >
                </li>
              </ul>
            </li>

            <li class="tree__item tree__item--folder" data-node="platform">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">platform/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.cloudflare.com/"
                    target="_blank"
                    rel="noreferrer">cloudflare</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a href="https://vercel.com/" target="_blank" rel="noreferrer"
                    >vercel</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.netlify.com/"
                    target="_blank"
                    rel="noreferrer">netlify</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a href="https://render.com/" target="_blank" rel="noreferrer"
                    >render</a
                  >
                </li>
              </ul>
            </li>

            <li class="tree__item tree__item--folder" data-node="tooling">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">tooling/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://git-scm.com/"
                    target="_blank"
                    rel="noreferrer">git</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a href="https://github.com/" target="_blank" rel="noreferrer"
                    >github</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.docker.com/"
                    target="_blank"
                    rel="noreferrer">docker</a
                  >
                </li>
              </ul>
            </li>
            <li class="tree__item tree__item--folder" data-node="design">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">design/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.figma.com/"
                    target="_blank"
                    rel="noreferrer">figma</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.framer.com/"
                    target="_blank"
                    rel="noreferrer">framer</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.adobe.com/products/illustrator.html"
                    target="_blank"
                    rel="noreferrer">illustrator</a
                  >
                </li>
              </ul>
            </li>
            <li class="tree__item tree__item--folder" data-node="creative">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">creative/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.adobe.com/products/premiere.html"
                    target="_blank"
                    rel="noreferrer">premiere pro</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.blender.org/"
                    target="_blank"
                    rel="noreferrer">blender</a
                  >
                </li>
                <li class="tree__item tree__item--file">
                  <a
                    href="https://www.autodesk.com/products/maya/"
                    target="_blank"
                    rel="noreferrer">maya</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="tree__item tree__item--folder" data-node="exp">
          <button class="tree__label" type="button">
            <span class="tree__chevron" aria-hidden="true">›</span><span
              class="tree__name">exp/</span
            >
          </button>
          <ul class="tree__children" hidden>
            <li class="tree__item tree__item--folder" data-node="jobs">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">jobs/</span
                >
              </button>
              <ul class="tree__children" hidden data-kind="jobs"></ul>
            </li>
            <li class="tree__item tree__item--folder" data-node="education">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">education/</span
                >
              </button>
              <ul class="tree__children" hidden data-kind="education"></ul>
            </li>
          </ul>
        </li>
        <li class="tree__item tree__item--folder" data-node="misc">
          <button class="tree__label" type="button">
            <span class="tree__chevron" aria-hidden="true">›</span><span
              class="tree__name">misc/</span
            >
          </button>
          <ul class="tree__children" hidden>
            <li class="tree__item tree__item--folder" data-node="idioms">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">idioms/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">english-fluent-c1.txt</li>
                <li class="tree__item tree__item--file">???-native.txt</li>
              </ul>
            </li>
            <li class="tree__item tree__item--folder" data-node="skills">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">skills/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">problem-solving.txt</li>
                <li class="tree__item tree__item--file">web-components.txt</li>
                <li class="tree__item tree__item--file">ui-ux-design.txt</li>
                <li class="tree__item tree__item--file">
                  full-stack-development.txt
                </li>
                <li class="tree__item tree__item--file">
                  security-and-privacy.txt
                </li>
              </ul>
            </li>
            <li class="tree__item tree__item--folder" data-node="interests">
              <button class="tree__label" type="button">
                <span class="tree__chevron" aria-hidden="true">›</span><span
                  class="tree__name">interests/</span
                >
              </button>
              <ul class="tree__children" hidden>
                <li class="tree__item tree__item--file">weightlifting.txt</li>
                <li class="tree__item tree__item--file">nature-walks.txt</li>
                <li class="tree__item tree__item--file">pet-training.txt</li>
                <li class="tree__item tree__item--file">chess.txt</li>
                <li class="tree__item tree__item--file">formula-1.txt</li>
                <li class="tree__item tree__item--file">motorcycles.txt</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </main>
    <Footer />
    <script is:inline nonce={cspNonce}>
      (() => {
        const root = document.querySelector(".tree[data-root]");
        if (!root) return;

        // Ensure dynamically-created nodes receive the same Astro scope attribute
        const scopeAttr = Array.from(root.attributes).find((attr) =>
          attr.name.startsWith("data-astro-cid-")
        );
        const applyScope = (el) => {
          if (!scopeAttr || !el || !(el instanceof Element)) return;
          el.setAttribute(scopeAttr.name, scopeAttr.value ?? "");
        };

        const toggleFolder = (item) => {
          const children = item.querySelector(".tree__children");
          const label = item.querySelector(".tree__label");
          const chevron = item.querySelector(".tree__chevron");
          if (!children || !label || !chevron) return;

          const isOpen = !children.hidden;
          children.hidden = isOpen;
          item.classList.toggle("is-open", !isOpen);
          chevron.textContent = !isOpen ? "⌄" : "›";
        };

        const CACHE_KEY = "usr:projects:v2";
        const CACHE_MAX_AGE_MS = 6 * 60 * 60 * 1000; // 6 hours

        const loadCachedProjects = () => {
          try {
            const raw = localStorage.getItem(CACHE_KEY);
            if (!raw) return null;
            const parsed = JSON.parse(raw);
            if (!parsed || typeof parsed !== "object") return null;
            const { items, timestamp } = parsed;
            if (!Array.isArray(items) || typeof timestamp !== "number")
              return null;
            if (Date.now() - timestamp > CACHE_MAX_AGE_MS) return null;
            return items;
          } catch {
            return null;
          }
        };

        const saveCachedProjects = (items) => {
          try {
            const payload = JSON.stringify({ items, timestamp: Date.now() });
            localStorage.setItem(CACHE_KEY, payload);
          } catch {
            // ignore quota errors
          }
        };

        const hydrateJobs = (container) => {
          if (!container || container.dataset.loaded === "true") return;
          container.dataset.loaded = "true";

          const jobs = [
            {
              name: "public-sector-ai-project/",
              title: "software engineer",
              description:
                "Project focused on applying Artificial Intelligence, NLP, Generative AI, and Data Science to optimize administrative processes and enhance digital governance in public administration.",
              bullets: [
                "Developing the chatbot avatar and voice interaction system, including speech-to-text translation, response integration, and realistic lip-synchronization for natural interactions between citizens and staff.",
              ],
              workType: "Remote",
              duration: "sep. 2025 - jan. 2026",
            },
            {
              name: "cloud-management-internship/",
              title: "software engineering intern",
              description:
                "Cloud management solutions provider for the finance, HR, accounting, and retail sectors.",
              bullets: [
                "Built interactive intro sliders that reduced user onboarding time by 15%, leveraging best-in-class UX design principles for banking platform enhancements.",
                "Directed the development of a web component designed for managing document elements within the company, as part of an evaluation project.",
                "Implemented a new expression editor, leveraging feedback from users to continuously enhance its functionality and experience by conducting usability tests. Merged with the previous project.",
              ],
              workType: "Hybrid",
              duration: "aug. 2024 - jul. 2025",
            },
          ];

          jobs.forEach((job) => {
            const jobItem = document.createElement("li");
            jobItem.className = "tree__item tree__item--folder";
            applyScope(jobItem);

            const jobButton = document.createElement("button");
            jobButton.type = "button";
            jobButton.className = "tree__label";
            applyScope(jobButton);

            const jobChevron = document.createElement("span");
            jobChevron.className = "tree__chevron";
            jobChevron.textContent = "›";
            applyScope(jobChevron);

            const jobNameSpan = document.createElement("span");
            jobNameSpan.className = "tree__name";
            jobNameSpan.textContent = job.name;
            applyScope(jobNameSpan);

            jobButton.appendChild(jobChevron);
            jobButton.appendChild(jobNameSpan);

            const details = document.createElement("ul");
            details.className = "tree__children";
            details.hidden = true;
            applyScope(details);

            // Title (role)
            const titleLi = document.createElement("li");
            titleLi.className = "tree__item tree__item--file job-title";
            applyScope(titleLi);
            titleLi.textContent = job.title;
            details.appendChild(titleLi);

            // Description
            const descLi = document.createElement("li");
            descLi.className = "tree__item tree__item--file job-description";
            applyScope(descLi);
            descLi.textContent = job.description;
            details.appendChild(descLi);

            // Bullet points
            job.bullets.forEach((bullet) => {
              const bulletLi = document.createElement("li");
              bulletLi.className = "tree__item tree__item--file job-bullet";
              applyScope(bulletLi);
              bulletLi.textContent = `• ${bullet}`;
              details.appendChild(bulletLi);
            });

            // Work type
            const workTypeLi = document.createElement("li");
            workTypeLi.className = "tree__item tree__item--file job-meta";
            applyScope(workTypeLi);
            workTypeLi.textContent = `work: ${String(job.workType).toLowerCase()}`;
            details.appendChild(workTypeLi);

            // Duration
            const durationLi = document.createElement("li");
            durationLi.className = "tree__item tree__item--file job-meta";
            applyScope(durationLi);
            durationLi.textContent = `duration: ${job.duration}`;
            details.appendChild(durationLi);

            jobItem.appendChild(jobButton);
            jobItem.appendChild(details);
            container.appendChild(jobItem);
          });
        };

        const hydrateEducation = (container) => {
          if (!container || container.dataset.loaded === "true") return;
          container.dataset.loaded = "true";

          const education = [
            {
              name: "masters-software-engineering/",
              title: "master’s in software engineering",
              period: "sep. 2025 - exp: jun. 2027",
              highlights: [
                "Software architecture, testing, and engineering practices.",
                "Focus on building reliable systems end-to-end.",
              ],
            },
            {
              name: "bachelors-computer-science/",
              title: "bachelor’s in computer science",
              period: "sep. 2022 - jun. 2025",
              highlights: [
                "Core CS fundamentals (algorithms, data structures, systems).",
                "Databases + web development foundations.",
              ],
            },
          ];

          education.forEach((edu) => {
            const eduItem = document.createElement("li");
            eduItem.className = "tree__item tree__item--folder";
            applyScope(eduItem);

            const eduButton = document.createElement("button");
            eduButton.type = "button";
            eduButton.className = "tree__label";
            applyScope(eduButton);

            const eduChevron = document.createElement("span");
            eduChevron.className = "tree__chevron";
            eduChevron.textContent = "›";
            applyScope(eduChevron);

            const eduNameSpan = document.createElement("span");
            eduNameSpan.className = "tree__name";
            eduNameSpan.textContent = edu.name;
            applyScope(eduNameSpan);

            eduButton.appendChild(eduChevron);
            eduButton.appendChild(eduNameSpan);

            const details = document.createElement("ul");
            details.className = "tree__children";
            details.hidden = true;
            applyScope(details);

            const titleLi = document.createElement("li");
            titleLi.className = "tree__item tree__item--file edu-title";
            applyScope(titleLi);
            titleLi.textContent = edu.title;
            details.appendChild(titleLi);

            const periodLi = document.createElement("li");
            periodLi.className = "tree__item tree__item--file edu-meta";
            applyScope(periodLi);
            periodLi.textContent = `period: ${edu.period}`;
            details.appendChild(periodLi);

            edu.highlights.forEach((h) => {
              const hLi = document.createElement("li");
              hLi.className = "tree__item tree__item--file edu-bullet";
              applyScope(hLi);
              hLi.textContent = `• ${h}`;
              details.appendChild(hLi);
            });

            eduItem.appendChild(eduButton);
            eduItem.appendChild(details);
            container.appendChild(eduItem);
          });
        };

        const hydrateProjects = async (container) => {
          if (!container || container.dataset.loaded === "true") return;
          container.dataset.loaded = "true";

          let simplified = loadCachedProjects();
          if (!simplified) {
            try {
              const res = await fetch("/api/projects.json");
              if (!res.ok) return;
              const repos = await res.json();
              simplified = Array.isArray(repos) ? repos : [];
              saveCachedProjects(simplified);
            } catch {
              return;
            }
          }

          const groups = new Map();
          simplified.forEach((repo) => {
            const key = (repo.language || "Other").toString();
            if (!groups.has(key)) groups.set(key, []);
            groups.get(key).push(repo);
          });

          const languages = Array.from(groups.keys()).sort((a, b) =>
            a.localeCompare(b)
          );

          languages.forEach((language) => {
            const repos = groups.get(language);
            if (!repos || !repos.length) return;

            const item = document.createElement("li");
            item.className = "tree__item tree__item--folder";
            applyScope(item);

            const button = document.createElement("button");
            button.type = "button";
            button.className = "tree__label";
            applyScope(button);

            const chev = document.createElement("span");
            chev.className = "tree__chevron";
            chev.textContent = "›";
            applyScope(chev);

            const nameSpan = document.createElement("span");
            nameSpan.className = "tree__name";
            nameSpan.textContent = `${language.toLowerCase()}/`;
            applyScope(nameSpan);

            button.appendChild(chev);
            button.appendChild(nameSpan);

            const childList = document.createElement("ul");
            childList.className = "tree__children";
            childList.hidden = true;
            applyScope(childList);

            repos.forEach((repo) => {
              // Create a collapsible button for each repo
              const repoItem = document.createElement("li");
              repoItem.className = "tree__item tree__item--folder";
              applyScope(repoItem);

              const repoButton = document.createElement("button");
              repoButton.type = "button";
              repoButton.className = "tree__label";
              applyScope(repoButton);

              const repoChevron = document.createElement("span");
              repoChevron.className = "tree__chevron";
              repoChevron.textContent = "›";
              applyScope(repoChevron);

              const repoNameSpan = document.createElement("span");
              repoNameSpan.className = "tree__name";
              repoNameSpan.textContent = repo.name;
              applyScope(repoNameSpan);

              repoButton.appendChild(repoChevron);
              repoButton.appendChild(repoNameSpan);

              const repoDetails = document.createElement("ul");
              repoDetails.className = "tree__children";
              repoDetails.hidden = true;
              applyScope(repoDetails);

              // Description
              const descLi = document.createElement("li");
              descLi.className = "tree__item tree__item--file repo-description";
              applyScope(descLi);
              descLi.textContent = repo.description || "No description.";
              repoDetails.appendChild(descLi);

              // GitHub link
              const linkLi = document.createElement("li");
              linkLi.className = "tree__item tree__item--file";
              applyScope(linkLi);
              const link = document.createElement("a");
              link.href = repo.url;
              link.target = "_blank";
              link.rel = "noreferrer";
              link.textContent = "link to the github repo";
              applyScope(link);
              linkLi.appendChild(link);
              repoDetails.appendChild(linkLi);

              // Topics line
              const topicsLi = document.createElement("li");
              topicsLi.className = "tree__item tree__item--file";
              applyScope(topicsLi);
              if (Array.isArray(repo.topics) && repo.topics.length > 0) {
                topicsLi.textContent = repo.topics.join(" - ");
              } else {
                topicsLi.textContent = "";
              }
              repoDetails.appendChild(topicsLi);

              repoItem.appendChild(repoButton);
              repoItem.appendChild(repoDetails);
              childList.appendChild(repoItem);

              // Add expand/collapse for repo button
              repoButton.addEventListener("click", (e) => {
                e.stopPropagation();
                toggleFolder(repoItem);
              });
            });

            item.appendChild(button);
            item.appendChild(childList);
            container.appendChild(item);
          });
        };

        // Projects fetch can be slow (depends on edge cache + upstream), and it isn't needed
        // for initial render/LCP. Prefetch it only after the user shows intent (hover/focus)
        // so the folder still opens fast without adding a critical request chain.
        const projectsContainer = root.querySelector(
          '.tree__children[data-kind="projects"]'
        );
        const scheduleProjectsPrefetch = () => {
          if (!(projectsContainer instanceof HTMLElement)) return;
          const run = () => hydrateProjects(projectsContainer);
          // Give the page a chance to paint first; fall back for browsers without rIC.
          if ("requestIdleCallback" in window) {
            // @ts-ignore - requestIdleCallback isn't in all TS DOM libs
            window.requestIdleCallback(run, { timeout: 2000 });
          } else {
            setTimeout(run, 1200);
          }
        };

        const projectsNode = root.querySelector('[data-node="projects"]');
        const projectsLabel = projectsNode?.querySelector(".tree__label");
        if (projectsLabel instanceof HTMLElement) {
          projectsLabel.addEventListener("pointerenter", scheduleProjectsPrefetch, {
            once: true,
          });
          projectsLabel.addEventListener("focus", scheduleProjectsPrefetch, { once: true });
        }

        // Prefetch jobs on page load so the folder opens instantly
        const jobsContainer = root.querySelector('.tree__children[data-kind="jobs"]');
        if (jobsContainer instanceof HTMLElement) {
          hydrateJobs(jobsContainer);
        }

        // Prefetch education on page load so the folder opens instantly
        const educationContainer = root.querySelector(
          '.tree__children[data-kind="education"]'
        );
        if (educationContainer instanceof HTMLElement) {
          hydrateEducation(educationContainer);
        }

        root.addEventListener("click", (event) => {
          const target = event.target;
          if (!(target instanceof Element)) return;
          const label = target.closest(".tree__label");
          if (!label) return;
          const item = label.closest(".tree__item");
          if (!item) return;

          const children = item.querySelector(".tree__children");
          if (children && children.dataset.kind === "projects") {
            hydrateProjects(children);
          }
          if (children && children.dataset.kind === "jobs") {
            hydrateJobs(children);
          }
          if (children && children.dataset.kind === "education") {
            hydrateEducation(children);
          }

          toggleFolder(item);
        });
      })();
    </script>
  </body>
</html>
